html {
  background: #97C9AD;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 1024px;
  margin: 100px auto 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
}

/** HAT **/
.hat-background {
  height: 49px;
  background: #1C1A1A;
}

.hat {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  margin-right: 20px;
}

.hat a, nav a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.hat a:first-child {
  padding: 1em 33px;
}

nav a {
  text-decoration: none;
  padding: 1em 20px;
}

/** FACE */
.face {
  height: 161px;
  background: #39353B;
  color: #ffffff;
}

.welcome {
  font-family: "Lobster", cursive;
  font-size: 72px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 63px;
  padding-top: 23px;
}

.tag-line {
  font-size: 24px;
  padding-left: 124px;
}

/** MAIN */
main {
  height: 500px;
  background: #FBF0FF;
  display: flex;
  justify-content: space-evenly;
}

main .box-container {
  width: 260px;
  height: 216px;
  margin-top: 40px;
  background: #FEFCFF;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .box-container div {
  display: flex;
  justify-content: center;
}

main .box-container div button {
  background: #F2C94C;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 3px;

  padding: 5px 10px;

  font-size: 18px;
  color: white;
  font-family: inherit;

}

main .box-container div button.disabled {
  background: darkgray;
}

main .box-container div button:active {
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
}

main .box-container div button:focus {
  outline: 0 !important;
}