body {
  font-family: "Open Sans", sans-serif;
  width: 1024px;
  height: 1024px;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}


/** HEADER **/

.header {
  display: flex;
  flex-direction: column;
}

/** HAT **/
.hat-background {
  height: 49px;
  background: #1C1A1A;
}

.hat {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
}

.hat a, nav a {
  color: white;
  padding: 1em;
  font-weight: bold;
  font-size: 18px;
}

nav a {
  text-decoration: none;
}

.footer {
  position: relative;
  width: 1024px;
  height: 229px;
  left: 0px;
  top: 795px;
  background: #39353B;
  margin: 0 auto;

}

.box1 {
  float: left;

  width: 202px;
  height: 163px;
  left: 57px;
  top: 830px;
  background-color: red;

}
/** FACE */

.face {
  height: 210px;
  background: #39353B;
}

.welcome {
  font-family: "Lobster", cursive;
  color: #ffffff;
  font-size: 72px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 63px;
}
