body {
  font-family: "Open Sans", sans-serif;
  width: 1024px;
  margin: 0 auto;
}


/** HEADER **/
/*header {*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*left: 0;*/
  /*top: 0;*/
/*}*/

.header {
  display: flex;
  flex-direction: column;
}

/** HAT **/
.hat-background {
  height: 49px;
  background: #1C1A1A;
}

.hat {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
}

.hat a, nav a {
  color: white;
  padding: 1em;
  font-weight: bold;
  font-size: 18px;
}

nav a {
  text-decoration: none;
}

/** FACE */

.face {
  height: 210px;
  background: #39353B;
}

.welcome {
  font-family: "Lobster", cursive;
  color: #ffffff;
  font-size: 72px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 63px;
}